html {
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mail {
    flex: 1;
}

.Site {
    display: flex;
    min-height: 97vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }

.myname{
    margin: 2em;
    display: flex;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-size: 50%; */
    /* justify-content: center; */
}

.fa {
    padding: 10px;
    font-size: 30px;
    /* width: 50px; */
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-envelope {
    background: #313335;
    color: white;
}

.fa-xing {
    background: #007575;
    color: white;
}

.fa-github {
    background: #dd5143;
    color: white;
}

.fa-linkedin {
    background: #0077b5;
    color: white;
}